.client_cell_container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #dddddd, 5, 0, 0,7);
}

.client_cell_container FontAwesomeIconView {
    -fx-fill: #132a13;
}

.client_cell_container HBox {
    -fx-spacing: 15;
    -fx-alignment: center_left;
}

.client_cell_container HBox Label {
    -fx-text-fill: #444444;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.6em;
}

.acc_display_label {
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.delete_btn {
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff0000;
}

.delete_btn FontAwesomeIconView {
    -fx-fill: #ffffff;
}

.delete_btn:hover {
    -fx-cursor: hand;
}